.thumbnail img{
    width: 100%;
}

.thumbnail {
    padding: 0px;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form {
    display: inline;
}

#container{
	margin: 20px auto;
	max-width: 600px;
}

